
shooter/Assets/UI/items/9.png.meta
shooter/Assets/UI/items/8.png.meta
shooter/Assets/UI/items/7.png.meta
shooter/Assets/UI/items/6.png.meta
shooter/Assets/UI/items/5.png.meta
shooter/Assets/UI/items/4.png.meta
shooter/Assets/UI/items/3.png.meta
shooter/Assets/UI/items/2.png.meta
shooter/Assets/UI/items/10.png.meta
shooter/Assets/UI/items/1.png.meta
shooter/Assets/UI/items.meta
